.row
  .span2
  .span8
    .page-header 
      .row-fluid 
        .span4
          %h1 Questions
        .span4.offset4
          .btn-group.pull-right#newQuestion
            = link_to 'New Question', new_question_path, class: 'btn btn-primary'
    .row
      .span8
        #tag_cloud
          - tag_cloud Question.tag_counts, %w(label popular-label) do |tag, css_class|
            = tag_questions_link(tag, css_class)
        %hr

    = render 'question_feed'

    

