- content_for :jscript do
  %link{:href  => "http://cdn.aloha-editor.org/latest/css/aloha.css", :rel => "stylesheet", :type => "text/css"}
  %script{:type => "text/javascript", :src  => "http://cdn.aloha-editor.org/latest/lib/require.js"}
  :javascript
    var Aloha = window.Aloha || (window.Aloha = {});
    Aloha.settings = {sidebar: {disabled: true}};
  %script{:type => "text/javascript", :src  => "http://cdn.aloha-editor.org/latest/lib/aloha.js", :'data-aloha-plugins' => "common/ui, common/format,common/list,common/link,common/highlighteditables,common/table,common/characterpicker,common/image,common/contenthandler,common/undo"}
  :javascript
    Aloha.ready( function() {var $ = Aloha.jQuery; $('.editable').aloha();});