/ NotificationMailer#expert_notification
=image_tag attachments["greendolphin_logo.png"].url
%br

="Dear #{@user.name}"
%p="Please help your friend! Your classmate ask you a question below."
-if !@question.blank?
  =link_to @question.title,question_url(@question)
%p="Thank you"
%p="Green Dolphin"