/NotificationMailer#good_answer_notification
%img(src="#{Rails.root}/app/assets/images/greendolphin_logo.png")
%br

%p="Dear #{@user.name}"
%p="Your answer of the question below was selected to be the best answer."
-if !@question.blank?
  =link_to @question.title,question_url(@question)
%p="Thank you"
%p="Green Dolphin"