/ NotificationMailer#reply_notification

%p="Dear #{@user.name}"
%p="Your friend replied your comment in the question below."
-if !@question.blank?
  =link_to @question.title,question_url(@question)
%p="Thank you"
%p="Green Dolphin"