- if notification.sendable_type == 'Question'
  =render 'question_notification', notification: notification
- elsif notification.sendable_type == 'Comment'
  =render 'comment_notification', notification: notification
- elsif notification.sendable_type.blank? and notification.content == 'Expert'
  =render 'expert_notification', notification: notification
- elsif notification.sendable_type.blank? and notification.content == 'NotExpert'
  =render 'unexpert_notification', notification: notification
- elsif notification.sendable_type == 'Reply'
  =render 'reply_notification', notification: notification
- elsif notification.sendable_type == 'Useful'
  =render 'useful_notification', notification: notification
- elsif notification.sendable_type == 'GoodAnswer'
  =render 'good_answer_notification', notification: notification