- if Useful.exists?(notification.sendable_id)
  %div{ id: "notification_#{notification.id}"}
    .row
      .span4
        - useful = Useful.find(notification.sendable_id)
        - question = useful.useful_parent_question
        %p
          %i.icon-question-sign
          You get 5 points, since a friend who votes your response to be useful in the question below.
      .span2
        = time_ago_in_words(notification.created_at) + ' ago'
      .span2
        = read_link(notification)
    .row
      .span8
        %p
          = link_to question.title, question
    .row
      .span8
        %hr