.page-header
  %h1
    Help
.row
  .span3
    %ul.nav.nav-tabs.nav-stacked
      %li
        %a(href='#Devices') Devices
      %li
        %a(href='#Ask') Ask a Question
      %li
        %a(href='#Answer') Answer a Question
      %li
        %a(href='#Expert') Expert Students
      %li
        %a(href='#Points') Points System
      %li
        %a(href='#Performance') Your performance
      %li
        %a(href='#Feedbacks') Feedbacks

  .span9
    .page-header
      %section#Devises
        %h2#Ask
          Devices
    %p
      Green Dolphin supports a desktop, a mobile phone, and a tablet. 
    %section
      .page-header
        %h2
          Ask a Question
      %ul.thumbnails
        %li.span5
          .thumbnail
            =image_tag 'Ask_question.png'
      %p
        You can ask your friend any question you would like to ask. 
      %p
        1. Write your question in a titile 
      %p
        2. Describe your question in a content
      %p
        You can use mathematics equation by insert your equation and a format.
      %p
        Σ m = (x + k)2
      %p
        3. Use tags related your question to assist your friend to answer and filter questions
      %p
        4. You can ask an anonymous question. You check a box that labels "Ask a question anonymously"
      %p
        5. You can 
        %b 
          spend 5 points 
        to ask lecturers and TAs for a fast question.
      %p#Answer
        6. If there are expert students, you can choose their name, and Green Dolphin will send email to them automatically. You have to  
        %b 
          spend 5 points 
        to ask expert students.
      %p
        7. Click post your question and 
        %b
          get 5 points
        from asking a question
    %section
      .page-header
        %h2
          Answer a Question
      %p    
        You can help your friends or study collaboratively
      %p
        1. Select a question
      %p
        2. You can answer the question anonymously by checking the checkbox
      %p#Expert
        3. Write your answer and post it, 
        %b 
          you will get 10 points from answering a question. You will get 10 points when your answer is selected to be the best answer from an asker. The asker will get 5 points after you choose the best answer. 
    %section
    .page-header
      %h2
        Expert Students
    %p
      Expert Students are student who have much knowledge and can help you to solve a problem. 
    %b
      Expert students will get more 10 points, when you answer questions which are sent to you. 
      %section#Points
      .page-header
        %h2
          Points System
    %p
      You will get points when you help your friends. The leader board will show your rank in the class. 
      %table.table.table-hover
        %thead
          %tr
            %th
              Activities                                                                   
            %th
              Points

        %tbody
          %tr
            %td
              A student answers a question.
            %td
              +10
          %tr
            %td
              A student gets the best answer.
            %td
              +10                                     
          %tr
            %td
              An expert answers a question which needs the expert’s help.
            %td
              +10
          %tr
            %td
              A student selects the best answer. 
            %td
              +5
          %tr
            %td
              A student asks a question.
            %td
              +5
          %tr
            %td
              A student votes a useful question or answer. 
            %td
              +2         
          %tr
            %td
              A student needs a fast answer. 
            %td
              ='-5'       
          %tr
            %td
              A student asks a expert student. 
            %td
              ='-10'
      .page-header
        %h2
          Expert tags
      %p#Performance      
        You can add tags to yourself to show your expertise or show an identity of your group.
      .page-header
        %h2
          Your Performance
      %p      
        You can check your statistics at 
        = link_to "the Performance page", performance_users_path
        or check your a position in the leader board at 
        = link_to "the Leaderboard page", leaderboard_users_path
        ='.'
      %section#Feedbacks
        .page-header
          %h2
            Feedbacks
        %p
          You can report bugs or suggest new feature in the link named 
          = link_to 'Please give us a feedback', user_feedbacks_path 
          at the footage of all pages.
        %p
          Please provide time and your action that makes a bug