%h2 Users
#tag_cloud
  - tag_cloud User.tag_counts, %w(label) do |tag, css_class|
    = tag_users_link(tag, css_class)

- @users.each do |user|
  %br/
  #{link_to user.email, user} signed up #{user.created_at.to_date}

= will_paginate
