$('div#good_answer').html('<span class="label label-success""><i class= "icon-ok icon-white"></i> Answers</span>');
$('a#good_answer_button_<%= @good_answer.comment_id %>').before('<button type="button" class="btn btn-success btn-small" disabled="disabled"><i class="icon-ok icon-white"></i> Best answer</button>');
$('a.btn.btn-small.good-answer').remove();