%hr
  %p
    .row
      .span6
        .row
          .span5.offset1
            ©Copyright
            %a(href='http://iis.cse.eng.auburn.edu/') Intelligent and Interactive Systems Lab
        .row
          .span5.offset1
            %a(href='http://glyphicons.com') Glyphicons 
            Free licensed under 
            %a(href='http://creativecommons.org/licenses/by/3.0/') CC BY 3.0.
      .row
        .span2
          %a{:href => "https://twitter.com/gdolphinstatus", :class => "twitter-follow-button", :data => { :"show-count" => "false", :lang => "en"}} Follow @gdolphinstatus
        .span2
          = link_to 'Please give us a feedback', user_feedbacks_path 
        
  